/*********** cabeçaho ***********************/
.nav-item a
{
  color: #0265B6 !important;
  font-size: 1.2rem;
  margin: 8px;
}
.nav-item:hover a
{
  color: #F41450 !important;
  font-size: 1.3rem;
  margin: 8px;
}
.barraseparacao-top
{
  background-color: #0265B6A8;
  height: 15px;
  margin-top: -22px;
  margin-bottom: 5px;
  padding: 0px;
}
.links{
  font-family: 'Comfortaa', cursive;
}
/*********** rodape ***********************/
.barraseparacao-botton
{
  background-color: #0265B6A8;
  height: 9px;
  padding: 0px;
}
.rodape
{
  height: 40px;
  background-color: #F41450;
  padding: 7px;
  font-size: 18px;
  color: white;
  margin: 0px;
}
.rodape img
{
  margin-top: -8px;
}
/**************************************************
               REDIMENCIONAMENTO
**************************************************/
@media screen and (max-width: 600px)
{
  .rodape
  {
    height: auto;
  }
}
/**************************************************/
